# docs 하위 파일은 기본적으로 LFS로 관리
docs/** filter=lfs diff=lfs merge=lfs -text

# Markdown 문서는 일반 Git 텍스트로 관리
docs/**/*.md -filter -diff -merge text
docs/**/*.MD -filter -diff -merge text
docs/**/~* -filter -diff -merge text
