# Backend
DATABASE_URL=postgresql://user:password@localhost:5432/public_it
BACKEND_PORT=3001
NODE_ENV=development
CORS_ORIGIN=http://localhost:3000
JWT_SECRET=your-secret-key-here
JWT_EXPIRATION=3600

# Frontend
VITE_API_URL=http://localhost:3001/api/v1
FRONTEND_PORT=3000
